[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diveR"]
	path = diveR
	url = https://github.com/great-northern-diver/diver
[submodule "edmcr"]
	path = edmcr
	url = https://github.com/great-northern-diver/edmcr
[submodule "loon.data"]
	path = loon.data
	url = https://github.com/great-northern-diver/loon.data
[submodule "loon.ggplot"]
	path = loon.ggplot
	url = https://github.com/great-northern-diver/loon.ggplot
[submodule "zenplots"]
	path = zenplots
	url = https://github.com/great-northern-diver/zenplots
